* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #78b9e7;
}

.btnDiv {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
}

.mainBtn {
  width: 200px;
  height: 150px;
  border: 1px solid #222;
  margin: 20px;
  text-align: center;
  line-height: 150px;
  border-radius: 5px;
}

#new {
  display: none;
  background-color: #ece4b7;
  border: 1px solid #222;
  width: 90%;
  margin: 10px auto;
}

.smallTitle {
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

.incidentsDiv {
  text-align: center;
  padding: 20px;
}

textarea {
  margin: 10px auto;
}

#textInc,
#textFire,
#textKeys,
#textCams,
#textAct,
#textDoors {
  display: none;
}

.submitBtn {
  display: inline-block;
  padding: 8px 10px;
  margin-left: 20px;
  background-color: #ffc220;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #222;
  cursor: pointer;
  user-select: none;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
}

.submitBtn:hover {
  background-color: #aa7f08;
  color: #fff;
}

.submitBtn:active {
  -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}
